* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body {
  background-color: #242524;
  color: #fff;
  font-family: Arial, sans-serif;
  font-family: "Noto Sans", serif;
  font-size: 1em;
}

#app {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #50aed9;
  height: 2.4em;
}

header > .header-btns {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 0.em;
  padding-left: 1em;
}

header > .header-btns > img {
  width: 1.5em;
  margin-left: 0.05em;
  aspect-ratio: 1;
  cursor: pointer;
}
header > .header-btns > img:hover {
  width: 1.8em;
  margin-left: 0;
}

header > h1 {
  font-size: 1.4em;
  margin: 0;
}

header > .checks {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  font-size: 1.0em;
  gap: 0.6em;
  margin-right: 1em;
}

.checkbox {
  width: 1.0em;
  height: 1.0em;
  background-color: #030508;
  border: 0.1em solid #fff;
  border-radius: 0.1em;
  margin-right: 0.2em;
}
.checkbox svg.checked {
  width: 100%;
  height: 100%;
}
.checkbox svg.checked path {
  stroke: none;
  fill: #fff;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container > .header-spacing {
  height: 3.0em;
  width: 100%;
  margin: 0;
  flex-shrink: 0;
}

.container > .orders {
  padding: 1em;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;

  overflow-y: auto;
}

.container > .orders > .order {
  width: 100%;
}

.container > .orders > .order > .order-header {
  height: 2.0em;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #424443;
}

.container > .orders > .order > .order-header > .accordion-arrow {
  margin-left: 0.5em;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1.0em solid #fff;
  transform: rotate(90deg);
}
.container > .orders > .order > .order-header > .accordion-arrow.open {
  transform: rotate(180deg);
}

.container > .orders > .order > .order-header > h2 {
  padding-left: 1.0em;
  font-size: 1.0em;
  margin: 0;
}

.container > .orders > .order > .order-header > .type-icon {
  width: 2em;
  display: flex;
  align-items: center;
}
.container > .orders > .order > .order-header > .type-icon > .icon {
  width: 1.0em;
  aspect-ratio: 1;
  background-repeat: no-repeat;
}
.container > .orders > .order > .order-header > .type-icon > .icon.car {
  background-image: url("assets/car.svg");
}
.container > .orders > .order > .order-header > .type-icon > .icon.ped {
  background-image: url("assets/ped.svg");
}

.container > .orders > .order > .order-header > .time {
  width: 6em;
  font-style: italic;
  font-size: 1.0em;
}

.container > .orders > .order > .order-header > .cost {
  width: 4em;
  color: #02bb00;
  font-size: 1.0em;
  font-weight: bolder;
  text-align: right;
  padding-right: 1em;
}

.container > .orders > .order > .order-header > .accordion-trigger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container > .orders > .order > .order-details {
  width: 100%;
  padding: 0.4em 1.0em;
  padding-bottom: 1.0em;
  display: flex;
  flex-direction: column;
  background-color: #9c9c9b;
}

.container > .orders > .order > .order-details > .article {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #adadac;
  padding: 0.2em 0.8em;
}
.container > .orders > .order > .order-details > .article:first-child {
  padding-top: 1.0em;
}
.container > .orders > .order > .order-details > .article:last-child {
  padding-bottom: 0.9em;
}

.container > .orders > .order > .order-details > .article > :nth-child(1) {
  width: 16em;
  display: flex;
  align-items: center;
}

.container
  > .orders
  > .order
  > .order-details
  > .article
  > :nth-child(1)
  > span {
  padding-left: 0.4em;
}

.container > .orders > .order > .order-details > .article > :nth-child(2) {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.container > .orders > .order > .order-details > .article .product-wrapper {
  display: flex;
  align-items: center;
}

.container > .orders > .order > .order-details > .article img {
  width: 2.5em;
  aspect-ratio: 1;
}

.container > .orders > .order > .order-details > .article span {
  font-size: 1.0em;
}

.notifs {
  position: absolute;
  left: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
}

.notifs > .notif {
  padding: 0 0.6em;
  margin: 0.3em;
  font-size: 1.0em;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  overflow: hidden;

  height: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
}
.notifs > .notif.visible {
  height: 2.0em;
  opacity: 1;
}
.notifs > .notif.info {
  background-color: #50aed9;
}
.notifs > .notif.success {
  background-color: #0cf574;
}
.notifs > .notif.error {
  background-color: #f72c25;
}

.notifs > .notif > .time {
  font-style: italic;
}

.history-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-bg > .popup {
  width: 50vw;
  height: 80vh;
  overflow: hidden;
  border-radius: 0.8vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: default;
  background-color: #242524;
}

@media (max-width: 750px) {
  .history-bg > .popup {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    border-radius: 0.5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: default;
    background-color: #242524;
  }
}

.history-bg > .popup > .header {
  position: relative;
  background-color: #50aed9;
  margin-bottom: 0.1em;
}
.history-bg > .popup > .header > h1 {
  margin: 0;
  font-size: 1.5em;
}
.history-bg > .popup > .header > .close {
  position: absolute;
  top: 0.23m;
  right: 0.3em;
  font-size: 1.0em;
  background-color: #f72c25;
  background-color: #f72c25;
  text-align: center;
  border-radius: 0.2em;
  width: 1.5em;
}

.history-bg > .popup > .notifs-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em 1.0em 0.5em 1em;
  gap: 0.3em;
}

.history-bg > .popup > .notifs-wrapper > .line {
  width: 100%;
  background-color: #9c9c9b;
  padding: 0.4em;
}

.history-bg > .popup > .notifs-wrapper > .line > .notif {
  background-color: #adadac;
  font-size: 1.0em;
}

.history-bg > .popup > .notifs-wrapper > .line > .notif > .time {
  font-style: italic;
}
